@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #1F2022;
  color: #EEEEEE;
}

/* HEADER */
.nav__link {
  text-decoration: none;
  color: #EEEEEE;
  transition: all 0.5s ease;
}

.nav__link.active {
  color: #00ADB5;
}

.nav__link:hover {
  color: #00ADB5;
}

/* MAIN */
